<% if @list.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@list.errors.count, "error") %> prohibited this list_item from being saved:</h2>
    <ul>
    <% @list.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% else %>
  <div class="sublist">
    <h1><%= @list.title %></h1></td>
    <h4><%= @list.description %></h4>
    <% if current_user %>
      <td><%= link_to 'Edit', edit_list_path(list), :class => 'btn btn-default btn-xs' %></td>
      <td><%= link_to 'Destroy', list, method: :delete, data: { confirm: "WARNING: When destroying a sublist you destroy all it's items. Are you sure you want to delete the sublist and all it's items?" }, :remote => true, :class => 'delete_sublist btn btn-default btn-xs' %></td>
    <% end %>

    <% @sublist_items = ListItem.where(list_id: @list.id) %>
    <%= render :partial => 'list_items/index_sublist_items', :@sublist_items => @sublist_items, :remote => true, :class => 'delete_sublist' %>

  </div>
<% end %>