<div class="sublists">
	<% @sublists_for_partial.each do |sublist| %>
	<div class="sublist">
	  <h1><%= sublist.title %></h1></td>
	  <h4><%= sublist.description %></h4>
		<% if current_user %>
		  <td><%= link_to 'Edit', edit_list_path(sublist), :class => 'delete_sublist btn btn-default btn-xs' %></td>
		  <td><%= link_to 'Destroy', sublist, method: :delete, data: { confirm: "WARNING: When destroying a sublist you destroy all it's items. Are you sure you want to delete the sublist and all it's items?" }, :parent_id => @list.id, :remote => true, :class => 'delete_sublist btn btn-default btn-xs' %></td>
		<% end %>
		<% @sublist_items = ListItem.where(list_id: sublist.id) %>
		<%= render :partial => 'list_items/index_sublist_items', :@sublist_items => @sublist_items %>
	</div>
	<% end %>
</div>