<p id="notice"><%= notice %></p>

<h1>My Lists</h1>

<%= link_to 'New List', new_list_path %>

<br>

<div class="row">
  <% @lists.each do |list| %>
    <div class="col-md-4 list">
      <div class="list-image-gallery-preview"></div>
      <p class="list-title"><%= link_to list.title, list %></p>
      <p class="list-body"><%= list.description %></p>
      <table>
        <tbody>
            <tr>
              <td><%= link_to 'Edit', edit_list_path(list) %></td>
              <td><%= link_to 'Delete', list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        </tbody>
      </table>
    </div>
  <% end %>
</div>


