<p id="notice"><%= notice %></p>

<h1>
  <%= @list.title %>
</h1>

<h4>
  <%= @list.description %>
</h4>

<% if current_user %>
  <%= link_to 'Edit', edit_list_path(@list), :class => 'btn btn-default btn-xs' %>
  <%= link_to 'Back', lists_path, :class => 'btn btn-default btn-xs' %>
<% else %>
  <%= link_to 'Back', '/landing' %>
<% end %>

<% @list_item = ListItem.new %>

<%= render 'layouts/map' %>

<% if current_user %>
    <%= render :partial => 'list_items/new', :list => @list, :list_item => @list_item %>

    <%= button_tag 'Add map marker', :class => 'btn btn-default', :id => 'show-map', :onclick => 'toggleMap' %>

    <%= link_to 'Create sublist', new_sublist_path(:list => @list), :remote => true, :onclick => '$(this).toggle()', :class => 'btn btn-default' %>

    <div id="new-sublist-form"></div>
<% end %>
<%= render :partial => 'list_items/index' %>

<%= render :partial => 'sublists/index', :sublists => @sublists %>


