<p id="notice"><%= notice %></p>

<% if @sublist.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@sublist.errors.count, "error") %> prohibited this list_item from being saved:</h2>
    <ul>
    <% @sublist.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% else %>
  <table>
    <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
          <tr>
          <td><h1><%= @sublist.title %></h1></td>
          <br>
          <td><h4><%= @sublist.description %><h4></td>
          <br>
          <td><%= link_to 'Show', sublist %></td>
          <td><%= link_to 'Edit', edit_sublist_path(sublist) %></td>
          <td><%= link_to 'Destroy', sublist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    </tbody>
  </table>
<% end %>