<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @sublist.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sublist.description %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @sublist.adress %>
</p>

<%= link_to 'Edit', edit_sublist_path(@sublist) %> |
<%= link_to 'Back', sublists_path %>
