<p id="notice"><%= notice %></p>

<% if @sublist.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@sublist.errors.count, "error") %> prohibited this list_item from being saved:</h2>
    <ul>
    <% @sublist.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% else %>
  <div class="sublist">
    <h1><%= @sublist.title %></h1></td>
    <h4><%= @sublist.description %></h4>
    <% @sublist_items = ListItem.where(sublist_id: @sublist.id) %>
    <%= render :partial => 'list_items/index_sublist_items', :@sublist_items => @sublist_items, :remote => true, :class => 'delete_sublist' %>
  </div>
<% end %>

<%= current_user ? (link_to 'Edit', edit_sublist_path(@sublist), :class => 'btn btn-default btn-xs') : "" %>
<%= link_to 'Back', list_path(@list), :class => 'btn btn-default btn-xs' %>