<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @sublist.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sublist.description %>
</p>

<%= current_user ? (link_to 'Edit', edit_sublist_path(@sublist)) : "" %>
<%= link_to 'Back', list_path(@list) %>
