<p id="notice"><%= notice %></p>

<h1>Listing Sublist Items</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Adress</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sublist_items.each do |sublist_item| %>
      <tr>
        <td><%= sublist_item.title %></td>
        <td><%= sublist_item.description %></td>
        <td><%= sublist_item.adress %></td>
        <td><%= link_to 'Show', sublist_item %></td>
        <td><%= link_to 'Edit', edit_sublist_item_path(sublist_item) %></td>
        <td><%= link_to 'Destroy', sublist_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sublist item', new_sublist_item_path %>
