<p id="notice"><%= notice %></p>

<br>

<div class="row">
  <% @list_items.each do |list_item| %>
    <div class="col-md-4 list">
      <div class="list-image-gallery-preview"></div>
      <p class="list-title"><%= link_to list_item.title, list_item %></p>
      <p class="list-body"><%= list_item.description %></p>

      <table>
        <tbody>
            <tr>
              <td><%= link_to 'Edit', edit_list_item_path(list_item) %></td>
              <td><%= link_to 'Destroy', list_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        </tbody>
      </table>
    </div>
  <% end %>
</div>