<div class="row list-items">
  <% @sublist_items.each do |sublist_item| %>
    <div class="col-md-4">
      <div class="list-item">
          <% if sublist_item.image_url(:thumb).nil? %>
          <div class="img-container-default">
            <%= image_tag('default-image.png') %>
          </div>
          <% else %>
          <div class="img-container">
            <img border="0" alt="" src="<%= sublist_item.image_url(:thumb) %>" width="100%" height="100%">
          </div>
          <% end %>
        <table>
          <tbody>
              <tr>
                <% if current_user %>
                  <td><%= link_to 'Edit', edit_list_item_path(sublist_item), :class => 'delete_sublist btn btn-default btn-xs' %></td>
                  <td><%= link_to 'Destroy', sublist_item, method: :delete, data: { confirm: 'Are you sure you want to delete item?' }, :remote => true, :class => 'delete_list_item btn btn-default btn-xs' %></td>
                <% end %>
              </tr>
          </tbody>
        </table>
        <p class="list-title"><%= link_to truncate(sublist_item.title, length: 80), sublist_item %></p>
        <p class="list-body"><%= truncate(sublist_item.description, length: 200) %></p>
      </div>
    </div>
  <% end %>
</div>