<div class="row list-items">
  <% @list_items.each do |list_item| %>
    <div class="col-md-4 list-item">
      <div class="img-container">
        <img border="0" alt="Image" src="<%= list_item.image_url(:thumb) %>" width="100%" height="100%">
      </div>
      <p class="list-title"><%= link_to list_item.title, list_item %></p>
      <p class="list-body"><%= list_item.description %></p>

      <table>
        <tbody>
            <tr>
              <% if current_user %>
                <td><%= link_to 'Edit', edit_list_item_path(list_item) %></td>
                <td><%= link_to 'Destroy', list_item, method: :delete, data: { confirm: 'Are you sure you want to delete item?' }, :remote => true, :class => 'delete_list_item' %></td>
              <% end %>
            </tr>
        </tbody>
      </table>
    </div>
  <% end %>
</div>