

<% if @list_item.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@list_item.errors.count, "error") %> prohibited this list_item from being saved:</h2>
    <ul>
    <% @list_item.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% else %>
  <div class="col-md-4">
    <div class="list-item">
      <div class="img-container">
        <img border="0" alt="Image" src="<%= list_item.image_url(:thumb) %>" width="100%" height="100%">
      </div>
      <p class="list-title"><%= link_to @list_item.title, @list_item %></p>
      <p class="list-body"><%= @list_item.description %></p>

      <table>
        <tbody>
            <tr>
              <% if current_user %>
                <td><%= current_user ? (link_to 'Edit', edit_list_item_path(@list_item)) : "" %></td>
                <td><%= link_to 'Destroy', list_item, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, :class => 'delete_list_item' %></td>
              <% end %>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
