<h1>Editing List Item</h1>

<%= form_for @list_item, :html => { :multipart => true }, :format => 'js' do |f| %>
  <% if @list_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@list_item.errors.count, "error") %> prohibited this list_item from being saved:</h2>

      <ul>
      <% @list_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @list_item.image_url.present? %>
    <div class="img-container-editpage">
      <img border="0" alt="Image" src="<%= @list_item.image_url %>" width="100%" height="">
    </div>
  <% end %>

  <div>
    <%= f.file_field :image %>
  </div>
  
  <div>
    <br/>
    <%= f.text_field :remote_image_url, :placeholder => 'or image URL' %>
  </div>

  <div class="field">
    <br>
    <%= f.text_field :title, :placeholder => 'Title' %>
  </div>
  <div class="field">
    <br>
    <%= f.text_area :description, :placeholder => 'Text' %>
  </div>
  <div class="field">
    <br>
    <% if @list_item_adress.present? %>
      <div id="adress_info"><%= @list_item_adress %></div> <!-- Formatted adress defined in controller for show page and edit page -->
    <% else %>
      <div id="adress_info">Click on map to add adress marker</div> <!-- Anywhere else where used. -->
    <% end %>
    <br>
    <div class="btn btn-success btn-xs clear-adress-btn">Clear adress</div>
    <br>
    <%= f.hidden_field :adress, :placeholder => 'Adress' %>
  </div>
    <%= f.hidden_field :list_id, :value => @list.id %>

    <%= f.label 'Add to sublist' %>
    <br>
    <%= f.select( :sublist_id, options_from_collection_for_select(@sublists, "id", "title"), :include_blank => true) %>
  <div class="actions">
    <br>
    <%= f.submit 'Post', :class => 'btn btn-success' %>
  </div>
<% end %>

<%= render 'layouts/map' %>

<%= link_to 'Back', list_path(@list), :class => 'btn btn-default btn-xs' %>
