<p id="notice"><%= notice %></p>

<div class="img-container-editpage itempage-image">
<img border="0" alt="Image" src="<%= @list_item.image_url %>" width="100%" height="">
</div>

<p class="itempage-title">
  <strong><%= @list_item.title %></strong>
</p>

<p class="itempage-description">
  <%= @list_item.description %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @list_item_adress %>
   <%= @list_item.adress%>
</p>

<%= render 'layouts/map' %>

<%= current_user ? (link_to 'Edit', edit_list_item_path(@list_item)) : "" %>
<%= link_to 'Back', list_path(@list) %>
