<!DOCTYPE html>
<html>
<head>
  <title>Collectomap</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Sahitya" rel="stylesheet">
</head>
<body>

<div class="logo">
  CollectoMap
</div>

  <% if session[:user_id] %>
  <div class="user-profile-loggedin">    
    <div class="field"><p>Logged in as <%= current_user.name %></p></div>
    <div class="field"><img border="0" class="profile-image-thumbnail" alt="Image" src="<%= current_user.avatar_url(:thumb) %>" width="100%" height="100%"></div>
    <div class="field"><%= link_to 'Edit profile', edit_user_path(current_user), :class => 'btn btn-default btn-xs' %></div>
    <div class="field"><%= button_to 'Logout', logout_path, method: :delete, :class => 'btn btn-success' %></div>
  </div>
  <% else %>
    <div class="user-profile-loggedin">   
      <%= button_to 'Log in', login_path, method: :get, :class => 'btn btn-default btn-md' %>
    </div>
  <% end %>

  <div class="container">
    <%= yield %>
  </div>

  <div class="footer">
    <div>   
      CollectoMap - All rights reserved
    </div>
  </div>

</body>
</html>
