<!DOCTYPE html>
<html>
<head>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if session[:user_id] %>
    <%= render :partial => 'sessions/form_loggedin' %>
  <% else %>
  	<%= render :partial => 'sessions/form_landing' %>
  <% end %>



          <img class="landing-page-image" alt="Image" src="delicate-arch-night-stars-landscape.jpg" width="100%">
          <!-- This is the source of the image - https://www.pexels.com/photo/landscape-nature-sky-person-33688/ -->
        </div>
        <div class="logo-landing">
          <a href="/">CollectoMap</a>
        </div>
        <div class="row">
          <div class="landing-hero">
            <div class="landing-hero-headline">
              Draw you own treasure map and uncover new secrets
            </div>
            <div class="landing-hero-text">
                CollectoMap empowers you to map out your favorite, awesome things and blog about them.
            </div>
            <div class="landing-hero-text-second">
                Don't feel like creating a map?</br>
                That's cool! You can still blog with comprehensive sub-blogs.
            </div>
            <div class="landing-hero-button">
                <%= button_to 'Sign up', new_user_path, method: :get, :class => 'btn btn-success' %>
            </div>
          </div>
        </div>


<div class="landing-map">
  <h1>Recent blog posts</h1>
  <%= render 'layouts/map' %>
</div>

<div class="landingpage-showcase-container">
	<div class="container">
    <h1>Recent lists</h1>
	  <div class="row">
	    <% @lists.each do |list| %>
	      <div class="col-md-6 list">
          <% if list.list_image_url.nil? %>
            <% created_by_user = User.find(list.user_id) %>
            <p>Created by <%= link_to created_by_user.name, lists_path(gallery_of_user: created_by_user) %> <%= time_ago_in_words(list.created_at) %></p>
            <div class="img-container-default">
               <%= image_tag('default-image.png') %>
            </div>
          <% else %>
            <div class="img-container-landing">
              <% created_by_user = User.find(list.user_id) %>
              <p>Created by <%= link_to created_by_user.name, lists_path(gallery_of_user: created_by_user) %> <%= time_ago_in_words(list.created_at) %></p>
              <img border="0" alt="Image" src="<%= list.list_image_url %>" width="100%" height="100%">
            </div>
          <% end %>
	        <p class="list-title"><%= link_to list.title, list %></p>
	        <p class="list-body"><%= list.description %></p>
	        <table>
	          <tbody>
	              <tr>
	              </tr>
	          </tbody>
	        </table>
	      </div>
	    <% end %>
	  </div>
	</div>
</div>

<div class="footer">
  <div>   
    CollectoMap - All rights reserved
  </div>
</div>

</body>
</html>